html,
body {
    font-family:'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
    background-color:#A9C9D6;
}
html {
    position: relative;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0;
    min-height: 100vh;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 42px;
}
.rps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.rps {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.rockB,
.paperB,
.scissorsB {
    font-size: 150px;
    justify-items: center;
}    
.score-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
}
.playerScore {
    text-align: center;
}
.computerScore {
    text-align: center;
}
footer {
    background-color: #0000001c;
    font-weight: 900;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-top: auto;
    padding: 10px;
    text-align: center;
}
button {
    background-color: lightcoral;
    border-radius: 15px;
    border-width: 4px;
    border-style: dashed;
    border-color: black;
    height: 160px;
}
button:active {
    background-color: lightblue;
    border-color: rgba(0, 0, 0, 0.308);
}
button:disabled {
    background-color: lightblue;
    border-color: lightcoral;

}
.play {
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -20px;
    align-self: center;
    height: 70px;
}
.gameText {
    font-size: 32px;
    padding-top: 10px;
    align-self: center;
}
img {
    width: 140px;
    height: 140px;
    justify-content: center;
    padding: 5px;
}